.request{
  font-family: Arial;
font-size: 40px;
font-weight: bold;
margin-bottom: 25px;
}
input{
  background-color: rgb(240,240,240);
  border: none;
  width: 400px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 400px;
  font-size: 16px;
  display: block;
}

.enter{
 margin-bottom: 10px;
}

.destination{
  margin-bottom: 35px;
}

.new{
background-color: black;
border: none;
color: white;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 25px;
padding-right: 25px;
margin-right: 20px;
font-size: 16px;
}

.later{
  background-color: rgb(240, 240, 240);
  border: none;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
}