.happening{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  margin-right: 5px;
}

.cat{
  font-family: Arial;
  color: rgb(100,100,100);
  font-size: 18px;;
  border: none;
  width: 300px;
  vertical-align: middle;
}

.tweet{
  background-color: rgb(78, 170, 231);
  color: white;
  border: none;
  border-radius: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}

.imag{
width: 450px;
box-shadow: 0 0 6px rgba( 0,0,0,0.3);
padding-top: 12px;
padding-bottom: 12px;
padding-left: 12px;
padding-left: 12px;
border-radius: 6px;
}